.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  margin-top: 3em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.summary-title {
  text-align: center; /* Aligns the summary title to the center */
}

.loading-message {
  text-align: center; /* Aligns the loading message to the center */
}

.category-link {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove the underline for the link */
}

.center-align {
  display: flex;
  text-align: center; /* Aligns the text to the center */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  /* height: 100%;s */
}

.category-description {
  font-size: 14px;
  font-weight: bold;
}

.category-card {
  position: relative;
}
